div.SocialMedia {
  display: flex;
  justify-content: center;
  height: 10rem;
}
.MyContacts {
 
  display: flex;
  flex-direction: column;
  width: 15rem;
  align-items: center;
  justify-content: center;
  background-color:#0000008f;
  color: white;
  border-top: 4px solid red;
  border-bottom: 4px solid yellow;
}
.MyContacts span {
    margin: 20px 0px;

}

