form {
 margin: 30px 0px 0px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 20rem;
}
input {
  padding: 10px;
  margin: 10px 0px;
}
textarea {
  width: 20rem;
  height: 5rem;
}
button.Form {
  padding: 10px;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  font-weight: bold;
  background-color: black;
  font-size: 1rem;
  color: white;
  margin: 10px 0px;
}
