form 
{
  border-radius: 10px;
  border: 10px solid blue;
  box-shadow: 0px 0px 20px white;
  margin: 30px 0px 0px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 30rem;
  background-color: #0000008f;
  
  width: 30rem;
  margin: 10rem auto;
  padding: 10px;
}
input 
{
  padding: 10px;
  margin: 20px 0px;
  background-color: white;
  border-top: 5px solid yellow;
  border-bottom: 5px solid red;
  border-radius: 10px;
}
textarea 
{
  width: 20rem;
  padding: 10px;
  height: 20rem;
  border-radius: 10px;
  border: 2px solid black;
}
button.Form 
{
  padding: 10px;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  font-weight: bold;
  background-color: black;
  font-size: 1rem;
  color: white;
  margin: 10px 0px;
}
